*
{
    padding : 0;
    margin : 0;
}

header
{
    background-color:rgb(52, 117, 74);
    height: 80px;
    width: 100%;
}

header ul
{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}

header li
{
    display: inline;
    margin-right: 4vw;
}

h1
{
    color:blanchedalmond;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}

h2
{
    color:rgb(39, 39, 85);
    position: absolute;
    left: 50%;
    top: 190px;
    line-height: 80px;
}

h3
{
    color:rgb(39, 39, 85);
    font-size: 100px;
    position: absolute;
    top: 400px;
}

main p
{
    position: absolute;
    top: 300px;
    color: darkslategrey;
    left: 45%;
}

header a
{
    color: blanchedalmond;
    text-decoration: none;
}

header a:hover
{
    text-decoration: underline;
}

.hand
{
    display: none;
}

.phone
{
    display: none;
}

.what
{
    color: darkslategrey;
    height: 95vh;
    background-image: url("images/123.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.we
{
    color: darkslategrey;
    height: 95vh;
    background-image: url("images/123.webp");
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.camera button 
{
    background-color:rgb(52, 117, 74);
    color: blanchedalmond;
    padding: 10px 20px;
    border-color: blanchedalmond;
    border-radius: 5px;
    margin-top: 20px;
}

.camera button:hover 
{
    background-color:cadetblue;
}

.camera
{
    color: darkslategrey;
    height: 95vh;
    background-image: url("images/123.webp");
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: none;
    justify-content: center;
    gap: 150px;
    margin-bottom: 150px;
}

.image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


.image-container img:nth-child(1) {
    animation-delay: 0.2s;
}

.image-container img:nth-child(2) {
    animation-delay: 0.4s;
}

.image-container img:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* 圖片從下方上升 */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px)
{
    .hand
    {
        display: block;
        position: absolute;
        color: darkslategrey;
        top: 600px;
        left:50%;
        transform: translateX(-50%);
        background-color:lightblue;
        padding: 20px;
        border-radius: 5px;
    }
    .phone
    {
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
        background-color: lightblue;
        padding: 10px;
        border: none;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkslategrey;
    }
    .camera button
    {
        margin-top: 10px;
    }
    header ul
    {
        display: none;
    }
    header h1
    {
        left:50%;
        transform: translateX(-50%);
    }
    main h2,p
    {
        display: none;
    }
    .image-container 
    {
       display: none;
    }

    .image-container img 
    {
        width: 200px;
        height: 200px;
    }
    /**/
}

